<?xml version="1.0" encoding="UTF-8"?>
<section id="about" class="about"><!-- control bleed / transparent by default -->
    <div>
    <a class="moore-portrait">
        <img src="resources/images/moore/MoorePortrait.jpg"/>
        </a>
    </div>
    <article>
    <h2>About the Archive</h2>
    <p>The Notebooks Project presents Marianne Moore’s previously unpublished notebooks through diplomatic transcriptions in facing page with her manuscripts. It makes available an unparalleled record of a major modernist figure’s reading, thinking, citation, and composition processes. Each published notebook is accompanied by an editor's introduction that discusses the special textual or bibliographic features of that notebook and the historical, literary, and cultural significance of its contents. The MMDA is indebted to collaborative support from the University at Buffalo (UB) English Department and Center for Unified Biometrics and Sensors (CUBS), and to the University of Houston English Department. We welcome feedback to every aspect of the MMDA, which is a project in process.</p>
    <br/>
    <div class="about-row">
                    <a href="about/people.xml">
                    <h3 class="h3-list">MMDA Project Team</h3>
                    </a>
                    <a href="about/documentation.xml">
                    <h3 class="h3-list">Project Documentation</h3>
                    </a>
                    <a href="about/articles.xml">
                    <h3 class="h3-list">Articles about the Archive</h3>
                    </a>
                    <a href="about/permissions.xml">
                    <h3 class="h3-list">Rights and Permissions</h3>
                </a>
    </div>                
</article>
</section>