<?xml version="1.0" encoding="UTF-8"?>
<section id="bottom" class="bottom">
         <!-- style="background-image:url(resources/images/abstract-1.jpg)"> -->
<!--         <div class="bottom center-1">-->
<!--            <div class="partner-logos">-->
<!--            <p>We gratefully acknowledge external support from the NEH, the SUNY Innovative Instruction Research Council, and a UB Innovative Micro-Programs Accelerating Collaboration in Themes (IMPACT) grant.</p>-->
<!--                <a class="partner-logo" href="https://www.buffalo.edu/" target="_blank">-->
<!--                <img src="resources/images/moore/ub-100px.png"/>-->
<!--                    </a>-->
<!--                <a class="partner-logo" href="https://www.uh.edu/" target="_blank">-->
<!--                <img src="resources/images/moore/UH-100px.png"/>-->
<!--                    </a>-->
<!--                <a class="partner-logo" href="https://www.neh.gov/" target="_blank">-->
<!--                <img src="resources/images/moore/NEH-100px.png"/>-->
<!--                    </a>-->
<!--                <a class="partner-logo" href="https://www.uvic.ca/" target="_blank">-->
<!--                <img src="resources/images/moore/uvic-mark-100px.png"/>-->
<!--                    </a>-->
<!--                <a class="partner-logo" href="https://www.rosenbach.org/" target="_blank">-->
<!--                <img src="resources/images/moore/rosenbach-100px.png"/>-->
<!--                    </a>-->
<!--            </div>-->
<!--    </div>-->
            <br/>
        <div class="bottom center-l">
            <ul class="link-group">
                <li>
                <pb-i18n key="landing.credits"/>
            </li>
            <br/>
            <br/>
            <li>
                <pb-i18n key="landing.cite"/>
                </li>
            </ul>
            <div>
                <p>Images of text and sketches are taken from Moore’s notebooks and letters; the sketches are drawn by Moore and printed on covers of Marianne Moore Newsletters (see Scholarship for all Newsletters).</p>
                <p>Additional Moore Sites and Groups: the Marianne Moore Society ; Marianne Moore Quotidian Facebook Group; <a href="https://moore123.wordpress.com/">commentary blog on Moore’s poems.</a>
            </p>
                <p>Contact: For information about the MMDA and how to volunteer to participate in its work, write ccmiller@buffalo.edu.</p>
            </div>
        </div>
    </section>