<?xml version="1.0" encoding="UTF-8"?>
<section id="highlights" class="section-highlight">
<!--    <header class="center-l row">-->
<!--        <h2>-->
<!--            <pb-i18n key="landing.highlights"/>-->
<!--        </h2>-->
<!--    </header>-->
    <div class="highlights center-l">
        <article class="highlight-card area-1" style="background-image: var(--lg), url('resources/images/moore/jerboa.jpg');">
            <div class="desc">
                <h2>
                    <a href="browse.html">
                        <pb-i18n key="landing.corpus"/>
                    </a>
                </h2>
                <p>
                    <pb-i18n key="landing.corpus-info"/>
                    <br/>
                </p> 
                <a href="about/aboutNotebooks.xml">
                    <h4>About the Notebooks</h4>
                </a>
                <a href="about/indexNotebooks.xml">
                    <h4>Index of Notebooks</h4>
                </a>
                <a href="browse.html">
                    <h4>Notebooks Viewer</h4>
                </a>
            </div>
        </article>
        <article class="highlight-card area-2" style="background-image: var(--lg), url('resources/images/moore/anteater.jpg');">
            <div class="desc">
                <h2>
                    <a href="about/bibliography.xml">
                        <pb-i18n key="landing.register"/>
                    </a>
                </h2>
                <p>
                    <pb-i18n key="landing.register-info"/>  
                    <br/>
                    <!--Link needs to be updated with the correct href for the Json element when the pages are built out. -->
                    <a class="explore-link" href="places">
<!--                        <pb-i18n key="hero.explore"/>-->
                    </a>
                </p>
            </div>
        </article>
        <article class="highlight-card area-3" style="background-image: var(--lg), url('resources/images/moore/turtle.jpg');">
            <div class="desc">
                <h2>
                    <a href="about/aboutMM.xml">
                        <pb-i18n key="landing.howto"/>
                    </a>
                </h2>
                <p>
                    <pb-i18n key="landing.howto-info"/>
                    <br/>
        <!--Link needs to be updated with the correct href for the Json element when the pages are built out. -->
                    <a class="explore-link" href="howto">
<!--                        <pb-i18n key="hero.explore"/>-->
                    </a>
                </p>
            </div>
        </article>
    </div>
</section>