<?xml version="1.0" encoding="UTF-8"?>
<section id="partners" class="bottom">
        <div class="bottom center-1">
            <p>We gratefully acknowledge external support from the NEH, the SUNY Innovative Instruction Research Council, and a UB Innovative Micro-Programs Accelerating Collaboration in Themes (IMPACT) grant.</p>
            <div class="partner-logos">
                <a class="partner-logo" href="https://www.buffalo.edu/" target="_blank">
                <img src="resources/images/moore/ub-100px.png"/>
                    </a>
                <a class="partner-logo" href="https://www.uh.edu/" target="_blank">
                <img src="resources/images/moore/UH-100px.png"/>
                    </a>
                <a class="partner-logo" href="https://www.neh.gov/" target="_blank">
                <img src="resources/images/moore/NEH-100px.png"/>
                    </a>
                <a class="partner-logo" href="https://www.uvic.ca/" target="_blank">
                <img src="resources/images/moore/uvic-mark-100px.png"/>
                    </a>
                <a class="partner-logo" href="https://www.rosenbach.org/" target="_blank">
                <img src="resources/images/moore/rosenbach-100px.png"/>
                    </a>
            </div>
            </div>
    </section>